.editor-component {
  height: 550px;
}

.editor-wrapper {
  position: relative;
}
.editor-wrapper.err .ql-toolbar,
.editor-wrapper.err .ql-container {
  border-color: red !important;
}
.err-message {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 600;
  color: red;
  display: none;
}
.err .err-message {
  display: block;
}

.fg.err .data-field {
  border-color: red;
}
.fg.err .data-field::placeholder {
  color: red;
}
.ql-container,
.ql-toolbar {
  border: 2px solid #e3e7eb !important;
}

.ql-toolbar {
  border-bottom: none !important;
  border-radius: 12px 12px 0 0;
}

.ql-container {
  border-radius: 0 0 12px 12px;
}

.charCount {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.req-page__btn {
  flex: 0 0 calc(50% - 0.625em);
}

.ql-snow .ql-tooltip[data-mode="link"]::before {
  content: "Ссылка:";
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: "Сохранить";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
  content: "Маленький";
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: "Нормальный";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
  content: "Большой";
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
  content: "Огромный";
}

.ql-snow .ql-picker.ql-size {
  width: 110px;
}

.error-message {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 600;
  color: red;
  display: none;
  text-align: right;
}

.error-message.show {
  display: block;
}

.m-check.err label span {
  color: red;
}

.file-input__inner {
  pointer-events: none;
}

.dz-started .file-input__inner {
  display: none;
}

.dz-started {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.dz-preview {
  border: 2px solid #ffdee8;
  border-radius: 10px;
  width: calc(33.33% - 10px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
[data-dz-name] {
  display: block;
  word-break: break-all;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 120%;
}

.dz-remove {
  font-size: 12px;
  font-weight: 600;
  color: red;
  display: block;
  margin-top: auto;
  padding-top: 10px;
}
